
dbLoadDatabase("{{ deploy_ioc_template_root_path }}/dbd/{{ deploy_ioc_executable }}.dbd")
{{ deploy_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

# eguns7 specific commands
#s7plcConfigure("PLCname", "IPaddr", port, inSize, outSize, bigEndian, recvTimeout, sendInterval)
s7plcConfigure("$(PLC_NAME)","$(IP_ADDR)", 2000, 176, 88, 1, 5000, 100)

## Load PLC record instances
dbLoadRecords("$(EGUNPLC)/db/es.db" ,"P=Egun-Test:")
