[project]
authors = ["Jakub Wlodek"]
channels = ["conda-forge"]
description = "Collection of ansible roles to perform centralized IOC deployments"
name = "nsls2.ioc_deploy"
platforms = ["linux-64", "osx-64", "osx-arm64"]
version = "1.2.0"

[environments]
default = { solve-group = "default" }

[tasks]
make-role = "make role"
make-module = "make module"
update-module = "make update module"
delete-role = "make delete role"
delete-module = "make delete module"
report = "make report"
lint-changes = "pre-commit"
lint = "pre-commit run --all-files"
ruff-fix = "ruff check --fix"
tests = "pytest"
deployment = "scripts/deploy_local_config.py"

# Package should not be in pixi lock file, but instead manually installed when on NSLS2 systems
install-nsls2network = "pip install --upgrade git+https://github.com/NSLS2/nsls2network"

[build-dependencies]
make = "*"

[dependencies]
requests = "*"
tabulate = "*"
questionary = "*"
yamale = "*"
pre-commit = "*"
ruff = "*"
import-linter = "*"
pip = "*"
pytest = "*"
pyyaml = "*"
yamllint = "*"

ansible = "*"
ansible-compat = "==24.10.0"
ansible-core = "==2.15.5"
ansible-lint = "==6.22.2"
