#
# {{ ansible_managed }}
#
file "$(EPICS_BASE)/db/asynRecord.db"
{{"{"}}
pattern
{{"{"}}P, R, PORT, ADDR, IMAX, OMAX{{"}"}}
{% for device in ioc.devices -%}
{{"{"}}"{{ ioc.environment.SYS_IOC }}", "{{"{"}}{{ device.Dev }}{{"}"}}Asyn", "{{ device.io_port }}", "0", "256", "256"{{"}"}}
{% endfor -%}
{{"}"}}
