#
# {{ ansible_managed }}
#
file "$(PIE621)/db/asyn_motor.db"
{{"{"}}
pattern
{{"{"}}P, PORT, ADDR, DTYP, ALIAS, DESC, EGU, DIR, TWV, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES, PREC, DHLM, DLLM, INIT{{"}"}}
{% for motor in ioc.motors -%}
{{"{"}}"{{ motor.prefix }}{{ motor.suffix }}", "$(PI_PORT)", "{{ motor.addr }}", "asynMotor", "{{ motor.alias }}", "{{ motor.desc }}", "$(EGU)", "Pos", "$(TWV)", "$(VELO)", "$(VBAS)", "$(ACCL)", "$(BDST)", "$(BVEL)", "$(BACC)", "$(MRES)", "$(PREC)", "$(DHLM)", "$(DLLM)", "$(INIT)"{{"}"}}
{% endfor -%}
{{"}"}}
