---
# Set to true to skip module compilation (for roles requiring proprietary SDKs)
skip_compilation: false

verification:
  files_must_exist:
    # Standard IOC boot files (created by deploy_ioc)
    - st.cmd
  file_must_contain:
    st.cmd:
      - "pandablocks-ioc"
      - "EPICS_CA_AUTO_ADDR_LIST=NO"
      - "EPICS_CAS_AUTO_BEACON_ADDR_LIST=NO"
      - "EPICS_CA_ADDR_LIST"
      - "EPICS_CAS_BEACON_ADDR_LIST"
      - "EPICS_CAS_INTF_ADDR_LIST"
      - "EPICS_PVA_AUTO_ADDR_LIST"
      - "EPICS_PVAS_AUTO_BEACON_ADDR_LIST"
      - "EPICS_PVA_ADDR_LIST"
      - "xf31id1-lab3-panda1.nsls2.bnl.local"
      - "XF:31ID1-ES{PANDA:1}"

  file_must_not_contain:
    st.cmd:
      - "{{"  # No unrendered jinja
      - "}}"

  permissions:
    st.cmd: "0775"
    venv: "0775"
