
dbLoadDatabase("{{ deploy_ioc_template_root_path }}/dbd/{{ deploy_ioc_executable }}.dbd")
{{ deploy_ioc_executable }}_registerRecordDeviceDriver(pdbbase)

# linaczubpm specific commands
dbLoadRecords("$(ZUBPM)/db/zubpm.db", "P=$(PREFIX), NO=$(BPMNo), ADC_LIVE_WFM_LEN=$(ALIVELEN), ADC_WFM_LEN=$(ALEN), TBT_LIVE_WFM_LEN=$(TLIVELEN), TBT_WFM_LEN=$(TLEN),$
dbLoadRecords("$(ZUBPM)/db/FA.db", "P=$(PREFIX), NO=$(BPMNo), FA_LEN=$(FLEN)")
dbLoadRecords("$(ZUBPM)/db/TBT.db", "P=$(PREFIX), NO=$(BPMNo), TBT_LEN=$(TLEN)")
dbLoadRecords("$(ZUBPM)/db/ADC.db", "P=$(PREFIX), NO=$(BPMNo), ADC_LEN=$(ALEN)")
dbLoadRecords("$(ZUBPM)/db/SFP.db", "P=$(PREFIX), B=$(BPMNo), S=0, TMP=140, VCC=164, TXB=188, TXP=212, RXP=236")
dbLoadRecords("$(ZUBPM)/db/SFP.db", "P=$(PREFIX), B=$(BPMNo), S=1, TMP=144, VCC=168, TXB=192, TXP=216, RXP=240")
dbLoadRecords("$(ZUBPM)/db/SFP.db", "P=$(PREFIX), B=$(BPMNo), S=2, TMP=148, VCC=172, TXB=196, TXP=220, RXP=244")
dbLoadRecords("$(ZUBPM)/db/SFP.db", "P=$(PREFIX), B=$(BPMNo), S=3, TMP=152, VCC=176, TXB=200, TXP=224, RXP=248")
dbLoadRecords("$(ZUBPM)/db/SFP.db", "P=$(PREFIX), B=$(BPMNo), S=4, TMP=156, VCC=180, TXB=204, TXP=228, RXP=252")
dbLoadRecords("$(ZUBPM)/db/SFP.db", "P=$(PREFIX), B=$(BPMNo), S=5, TMP=160, VCC=184, TXB=208, TXP=232, RXP=256")
dbLoadRecords("$(ZUBPM)/db/SA.db", "P=$(PREFIX), NO=$(BPMNo)")
dbLoadRecords("$(ZUBPM)/db/Power.db", "P=$(PREFIX), NO=$(BPMNo)")
dbLoadRecords("$(ZUBPM)/db/Temp.db", "P=$(PREFIX), NO=$(BPMNo)")
dbLoadRecords("$(ZUBPM)/db/FFT.db", "P=$(PREFIX), NO=$(BPMNo)")
dbLoadRecords("$(ZUBPM)/db/lstats.db", "P=$(PREFIX), NO=$(BPMNo)")

var(PSCDebug, 1)
createPSC("$(PSCNo)", $(BPMIP), 3000, 0)
