#
# {{ ansible_managed }}
#
{% if ioc.virtual_axes is defined %}
file "$(PPMAC)/db/motor.db"
{{"{"}}
pattern
{{"{"}}P, M, MOTOR, PORT, ADDR, DESC, DTYP, MRES, EGU, PREC, ALIAS{{"}"}}
{% for axis in ioc.virtual_axes %}
{{"{"}}"{{ ioc.environment.SYS }}", "{{"{"}}{{ axis.component }}-Ax:{{ axis.name }}{{"}"}}Mtr", "CS{{ axis.cs }}", {{ axis.num }}, {{ axis.desc }}, asynMotor, {{ axis.mres }}, "{{ axis.egu }}", 4, ""{{"}"}}
{% endfor %}
{{"}"}}

{% endif %}
file "$(PPMAC)/db/motor_in_cs.template"
{{"{"}}
pattern
{{"{"}}P, M, SPORT{{"}"}}
{% for axis in ioc.axes %}
{{"{"}}"{{ ioc.environment.SYS }}", "{{"{"}}{{ axis.component }}-Ax:{{ axis.name }}{{"}"}}Mtr", "$(SSH_PORT)"}
{% endfor %}
{{"}"}}
