---
# Set to true to skip module compilation (for roles requiring proprietary SDKs)
skip_compilation: true

verification:
  files_must_exist:
    # Standard IOC boot files (created by deploy_ioc)
    - iocBoot/st.cmd
    - iocBoot/epicsEnv.cmd
    - iocBoot/postInit.cmd
    # Role-specific files
    - iocBoot/base.cmd
    - as/req/auto_settings.req

  file_must_contain:
    iocBoot/st.cmd:
      - "iocInit"
    iocBoot/base.cmd:
      - "dbLoadDatabase"
      - "ADUVCConfig"
      - 'dbLoadRecords("$(ADUVC)/db/ADUVC.template", "P=$(PREFIX),R=cam1:,PORT=$(PORT)")' # yamllint disable-line rule:line-length

  file_must_not_contain:
    iocBoot/st.cmd:
      - "{{"  # No unrendered jinja
      - "}}"
    iocBoot/base.cmd:
      - "{{"
      - "}}"
    iocBoot/epicsEnv.cmd:
      - "{{"
      - "}}"
    as/req/auto_settings.req:
      - "{{"
      - "}}"

  permissions:
    iocBoot/st.cmd: "0775"
