#
# {{ ansible_managed }}
#
file "${PPMAC}/db/motor.db"
{{"{"}}
pattern
{{"{"}}P, M, MOTOR, PORT, ADDR, DESC, MRES, EGU, PREC{{"}"}}
{% for axis in ioc.axes %}
{{"{"}}"{{ deploy_ioc_merged_env.SYS }}", "{{"{"}}{{ axis.component }}-Ax:{{ axis.name }}{{"}"}}", "{{ deploy_ioc_merged_env.CTRL_PORT }}", "{{ deploy_ioc_merged_env.SSH_PORT }}", {{ axis.num }}, "{{ axis.desc }}", {{ axis.mres }}, "{{ axis.egu }}", 4{{"}"}}
{% endfor %}
{{"}"}}
