---
# Set to true to skip module compilation (for roles requiring proprietary SDKs)
skip_compilation: false

verification:
  files_must_exist:
    # Standard IOC boot files (created by deploy_ioc)
    - st.cmd
  file_must_contain:
    st.cmd:
    - "export EPICS_CA_AUTO_ADDR_LIST"
    - "export EPICS_CAS_AUTO_BEACON_ADDR_LIST"
    - "export EPICS_CA_ADDR_LIST"
    - "export EPICS_CAS_BEACON_ADDR_LIST"
    - "pixi run python -m srx caproto iocs.zebra.caproto_ioc"
    - "--prefix='XF:09IDA-ES{{ZEBRA_SAVER:01}}'"

  permissions:
    st.cmd: "0775"